{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-empty-function": [
      "warn",
      {
        "allow": [
          "arrowFunctions",
          // sometimes () => {} is more descriptive than passing undefined
          "methods",
          // sometimes you want to provide a default behaviour (nothing) in a base class
          "asyncMethods"
          // same as above
        ]
      }
    ]
  }
}