{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "unused-imports"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "none", "argsIgnorePattern": "^_" }
    ]
  },
  "overrides": [
    {
      "plugins": [
        "jsonc"
      ],
      "files": [
        "*.json"
      ],
      // Specify the extension or pattern you want to parse as JSON.
      "extends": [
        "plugin:jsonc/recommended-with-json"
      ],
      "rules": {
        "jsonc/comma-style": [
          "error",
          "last"
        ],
        "jsonc/indent": [
          "error",
          2,
          {}
        ],
        "jsonc/key-spacing": [
          "error"
        ],
        "jsonc/object-curly-newline": [
          "error"
        ],
        "jsonc/object-property-newline": [
          "error"
        ],
        "jsonc/object-curly-spacing": [
          "error",
          "never"
        ],
        "jsonc/no-plus-sign": [
          "error"
        ],
        "jsonc/array-bracket-newline": [
          "error",
          "consistent"
        ],
        "jsonc/array-bracket-spacing": [
          "error",
          "never"
        ],
        "jsonc/array-element-newline": [
          "error",
          "consistent"
        ]
      },
      "parserOptions": {
        "jsonSyntax": "JSON"
      }
    }
  ]
}