{
    "owner_id": "1111111111111",
    "prefix": ",",
    "token": "xxxxxxxxx",
    "home_id": 2202,
    "world_assignments": [{"world": 2202, "role": "rolename (must exist!)"}],
    "ts": {
        "ip": "127.0.01",
        "port": 10011,
        "user": "admin",
        "password": "secret" 
    },
    "disabled": {
        "listeners": [],
        "commands": [],
        "inhibitors": []
    }
}