{
    "ownerID": "1111111111111",
    "prefix": ",",
    "token": "xxxxxxxxx",
    "home_id": 2202,
    "role_assignments": [{"world": 2202, "role": "rolename (must exist!)"}],
    "ts": {
        "ip": "127.0.01",
        "port": 10011,
        "user": "admin",
        "password": "secret" 
    }
}